[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
cairosvg = "*"
albumentations = "*"
mss = "*"
pyautogui = "*"
opencv-contrib-python = "*"
transformers = "*"
sentencepiece = "*"
pandas = "*"
datasets = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.12"
